{% extends "layout/dashboard.twig" %}

{% block specific_css %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
{% endblock %}


{% block content %}
<section class="section">
    <div class="section-header">
        <h1>Available Projects</h1>
    </div>
<div class="section-body">

    <div class="row">
        <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        <h4>Sales Rep for Website Design and Photography Company</h4>
                    </div>

                    <div class="card-body">
                        We are looking for a long term sales rep(s) to generate new business for our company. We have two aspects of our company...
                    </div>

                    <div class="card-footer">
                        <a href >
                            <button class="btn btn-primary">Apply</button>
                        </a>
                    </div>
                </div>
        </div>

        <div class="col-4">
                 <div class="card">
                    <div class="card-header">
                        <h4>Photography Needed for Rising CPG Company!</h4>
                    </div>

                    <div class="card-body">
                        Hey All!

We need basic white background photography of our packaging for presentations and our website...
                    </div>
                        <div class="card-footer">
                        <a href >
                            <button class="btn btn-primary">Apply</button>
                        </a>
                    </div>
                </div>
        
        </div>

         <div class="col-4">
                 <div class="card">
                    <div class="card-header">
                        <h4>Product Photography and Infographics Needed for Growing Ecommerce Brand</h4>
                    </div>

                    <div class="card-body">
                        Looking for a product photographer and graphic designer to work with on an ongoing basis.
We are a growing e-commerce company..
                    </div>
                        <div class="card-footer">
                        <a href >
                            <button class="btn btn-primary">Apply</button>
                        </a>
                    </div>
                </div>
        
        </div>

        <div class="col-4">
                 <div class="card">
                    <div class="card-header">
                        <h4>Property Photos - Lebanon, TN</h4>
                    </div>

                    <div class="card-body">
                      I need 10 building photos of:

Dollar General
10550 Murfreesboro Rd
Lebanon, TN...
                    </div>
                        <div class="card-footer">
                        <a href >
                            <button class="btn btn-primary">Apply</button>
                        </a>
                    </div>
                </div>
        
        </div>
    </div>


   

    <div class="row">
    
        <div class="col-8">
            {# <user-profile></user-profile> #}
        </div>
    
    </div>
</div>
</section>


{% endblock %}


{% block specific_js %} 

{% endblock %}