<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>
    {% block content %} {% endblock %}
    <script src="/assets/js/vue.js"></script>
    <script src="/assets/main.bundle.js"></script>
</body>

</html>