<div class="row">
    <div class="col">
        
        <div class="card card-secondary">
            <div class="card-header">
                <h4>Status</h4>
                <div class="card-header-action">
                    <a href="#" class="btn btn-success">Save</a>
                </div>
            </div>
            
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-sm-12">
                        <select class="form-control selectric">
                            <option>Publish</option>
                            <option>Draft</option>
                            <option>Pending</option>
                        </select>
                    </div>
                </div>
            </div>

        
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card card-secondary">
            <div class="card-header">
                <h4>Tags</h4>
                <div class="card-header-action">
                    <a href="#" class="btn btn-primary">Add new tag</a>
                </div>
            </div>
            <div class="card-body">
                <div class="btn-group mb-3" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light">Photography</button>
                    <button type="button" class="btn btn-light"><i class="fas fa-times"></i></button>
                </div>

                <div class="btn-group mb-3" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light">Photography</button>
                    <button type="button" class="btn btn-light"><i class="fas fa-times"></i></button>
                </div>

                <div class="btn-group mb-3" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light">Photography</button>
                    <button type="button" class="btn btn-light"><i class="fas fa-times"></i></button>
                </div>

            </div>

        </div>
    </div>


</div>

<div class="row">
    <div class="col">
        <div class="card card-secondary">
            <div class="card-header">
                <h4>Thumbnail</h4>
            </div>
            <div class="card-body">
                <div class="form-group row mb-4">
                    <div class="col-sm-12">
                        <div id="image-preview" class="image-preview">
                            <label for="image-upload" id="image-label">Choose File</label>
                            <input type="file" name="image" id="image-upload" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>